.modeswitch {
    padding: var(--padding-v-tiny);
    background: var(--button-color);
    height: 30px;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: row;
    align-items: center;
  
    .option {
      border-radius: var(--border-radius-small);
      cursor: pointer;
      flex: 1 1 33%;
      height: calc(30px - var(--padding-v-tiny) * 2);
      display: flex;
      align-items: center;
      justify-content: center;
  
      &.enabled {
        background-color: var(--input-color);
        color: var(--text-color-inverse);
      }
  
      &:hover {
        opacity: 0.75;
      }
    }
  }
  